#main > div > p {
  float: left !important;
}

#main > p > a > img {
  width: 300px;
  margin-right: 50px;
}

.app-nav > ul > li > p > a {
  color: white;
}

#töltsd-le-a-cmo-számlázóját-ingyenesen > a {
  color: purple;
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#töltsd-le-a-cmo-számlázóját-ingyenesen > a > span {
  text-align: center;
}
